[Unit]
Description=Garden Of Eden API Service
Requires=pigpiod.service
Wants=network-online.target
After=network-online.target pigpiod.service

[Service]
User=peter
WorkingDirectory=/home/peter/garden-of-eden
ExecStart=/home/peter/garden-of-eden/bin/run-api.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
