[Unit]
Description=Garden Of Eden MQTT Service
Requires=pigpiod.service
After=network.target pigpiod.service

[Service]
User=pi
WorkingDirectory=/home/pi/garden-of-eden/api
ExecStart=/home/pi/garden-of-eden/venv/bin/python mqtt.py
Restart=always

[Install]
WantedBy=multi-user.target
