[Unit]
Description=MQTT Service
Requires=pigpiod.service
After=network.target pigpiod.service

[Service]
User=gardyn
WorkingDirectory=/home/gardyn/projects/garden-of-eden
ExecStart=/home/gardyn/projects/garden-of-eden/venv/bin/python /home/gardyn/projects/garden-of-eden/mqtt.py
Restart=always

[Install]
WantedBy=multi-user.target
