[Unit]
Description=Garden Of Eden Web Service
Requires=pigpiod.service
Wants=network-online.target
After=network-online.target pigpiod.service

[Service]
Environment=NODE_PORT=3000
User=peter
WorkingDirectory=/home/peter/garden-of-eden
ExecStart=/home/peter/garden-of-eden/bin/run-web.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
