# device infor for homeassistant
MQTT_IDENTIFIER=gardyn_03
MQTT_BASETOPIC=gardyn
MQTT_DEVICE_MODEL="gardyn 3.0"
MQTT_VERSION="1.0.0"

# MQTT broker config
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_USERNAME=gardyn
MQTT_PASSWORD=somepassword
MQTT_KEEPALIVE_INTERVAL=60

# Distance (down from lid) to trigger low water alert
# As the water gets used the distance down from lid increases
# Max distance causing dry pump is less than 19cm
WATER_LOW_CM=11

# Image handling
UPPER_CAMERA_DEVICE=/dev/video0
LOWER_CAMERA_DEVICE=/dev/video2
UPPER_IMAGE_PATH=/tmp/upper_camera.jpg
LOWER_IMAGE_PATH=/tmp/lower_camera.jpg
CAMERA_RESOLUTION="640x480"
IMAGE_INTERVAL_SECONDS=3600

# Valid log levels INFO, WARNING, DEBUG
LOG_LEVEL=WARNING

# Interval at which to publish updates to MQTT
PUBLISH_FREQUENCY_MINUTES=30


