Adafruit-Blinka==8.37.0
adafruit-circuitpython-ahtx0==1.0.21
adafruit-circuitpython-am2320==1.2.20
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-connectionmanager==1.0.1
adafruit-circuitpython-pct2075==1.1.21
adafruit-circuitpython-register==1.9.18
adafruit-circuitpython-requests==3.2.2
adafruit-circuitpython-typing==1.10.3
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.62.0
Adafruit-PureIO==1.1.11
blinker==1.7.0
click==8.1.7
colorzero==2.0
dotenv==0.0.5
flask==3.0.2
Flask-Cors==4.0.0
gpiozero==2.0.1
importlib-metadata==4.13.0
importlib-resources==5.13.0
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
mock==5.1.0
paho-mqtt==2.0.0
parameterized==0.9.0
pi-ina219==1.4.1
picamera==1.13
pigpio==1.78
pipdeptree==2.16.1
pyftdi==0.55.0
pyserial==3.5
python-dotenv==1.0.1
pyusb==1.2.1
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
smbus==1.1.post2
spidev==3.6
sysv-ipc==1.1.0
typing-extensions==4.10.0
werkzeug==3.0.1
zipp==3.18.1
