@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 40px;
}

.border {
    @apply border-[1px] border-solid border-gray-300 rounded-md
}