@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* overflow-y: scroll;
    overflow-x: scroll; */

    @apply bg-zinc-100;
}

.border {
    @apply border-[1px] border-solid border-gray-300 rounded-md
}